@import '~antd/lib/style/themes/default.less';

.main {
  width: 1150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -575px;
  margin-top: -300px;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }
}
.menu {
  li {
    color: #fff;
    width: 100px;
    height: 40px;
    margin-bottom: 36px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    border: 1px solid #596992;
  }
  li:hover {
    box-shadow: 0 0 10px #fff;
  }
  li:not(:last-child)::after {
    content: '';
    left: 50px;
    bottom: -34px;
    position: absolute;
    width: 1px;
    height: 30px;
    background: #fff;
  }
}
.title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}
.cotent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.contentText {
  margin-left: 50px;
  color: #fff;
  width: 900px;
  height: 400px;
  box-shadow: 0 0 10px #fff;
  padding: 20px;
}
