@import '~antd/lib/style/themes/default.less';

.main {
  width: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -449px;
  margin-top: -110px;
}
.btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.oprationBtn {
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  img {
    width: 140px;
  }
}
.oprationBtn p:nth-of-type(2) {
  width: 180px;
  height: 60px;
  margin-top: 50px;
  line-height: 60px;
  color: #fff;
  box-shadow: 0 0 10px #fff;
}
