@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.tableList {
  .tableListOperator {
    margin-bottom: 16px;

    button {
      margin-right: 8px;
    }
  }
}

.page {
  margin: -24px -24px 0;
  //margin-bottom: 3vh;
}

.nav {
  wdith: 100;
  //background-color: #fff;
  background-color: #00000000;
  //padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 34px;
}

.center_content {
  //margin: 24px 24px 0;
  margin: 3px 24px 0;
}

.left_content {
  background-color: #fff;
  min-height: 83vh;
  max-height: 83vh;
  margin-bottom: 24px;
  overflow: auto;
}

.from_content_col {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-size: 0.9em!important;

}

.from_content {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.right_detail{
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;

}

.right_info {
  padding-top: 10px;
  display: flex;
  //padding-left: 10px;
  //padding-right: 10px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  min-height: 83vh;
  max-height: 83vh;
  margin-bottom: 24px;
}

.list_info {
  background-color: #fff;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  //overflow: auto;
}

.row_normal {
  background-color: #e5f6fe;
}

.divder {



}

.title_info {
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  color: #35b0f4;
}

.sun_title_info {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #35b0f4;
}

.small_font{
  font-size: 0.9em!important;;
}

.small_description{
  font-size: 0.9em!important;
}

.buttomControl {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tableListForm {
  :global {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 24px;

      > .ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }

      .ant-form-item-control {
        line-height: 32px;
      }
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

.right_content_tbs {
  display: flex;
  jusitify-content: center;
  align-items: center;
  width: 100%;
}

.right_content_tabgroud {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
