.table {
  text-align: center;
  margin: 20px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  td{
    overflow-wrap: break-word;
  }
  th{
    overflow-wrap: break-word;
  }


}

.titleTh {
  display: flex;
  flex-direction: row;

  .title {
    flex: 1;
    text-align: center;
    line-height: 106px;
    font-weight: 400;
    font-size: 24px;
  }

  .barCode {
    width: 250px;
    display: flex;
    margin: auto;

    .text {
      margin: auto;
      padding: 0px 5px;
      color: #e93224;
    }
  }
}

.title01 {
  th {
    font-weight: 600;
    font-size: 18px;
  }
}

.title02 {
  th {
    font-weight: 600;
    font-size: 14px;
  }
}

.title03 {
  text-align: right;
  th {
    padding: 0px 5px;
    font-weight: 400;
    font-size: 10px;
  }
}

.trtd {
  td {
    font-weight: 400;
    font-size: 10px;
  }
}
.maxthwidth{
  max-width: 150px;
  overflow-wrap: break-word;
}

.btnDiv {
  text-align: center;
  margin-bottom: 10px;
}

.buttomControl {
  margin-left: 3px;
  margin-right: 3px;
}

.selectControl {
  margin-left: 3px;
  margin-right: 3px;
}

.spanLabel {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}

.tableOutDiv {
  width: 100%;
  height: 380px;
  overflow: auto;
}

.motivatingWords {
  display: flex;
  margin: -15px 20px 20px 20px;

  .words {
    flex: 1;
    text-align: center;
  }

  .date {
    flex-basis: 18%;
    text-align: center;
  }
}
