@import '~antd/lib/style/themes/default.less';
@import 'common.less';

//@globalbgcolor: #fbfbfb;
.ant-modal-title {
  background-color: @globalbgcolor !important;
}
.ant-modal-header {
  background-color: @globalbgcolor !important;
}
.ant-modal-body {
  background-color: @globalbgcolor !important;
}
.ant-modal-footer {
  background-color: @globalbgcolor !important;
}
.ant-menu {
  background-color: @globalbgcolor !important;
}
.ant-table-placeholder {
  background-color: @globalbgcolor !important;
}

.ant-layout-sider-children {
  background-color: @globalbgcolor;
}
.ant-card-body {
  background-color: @globalbgcolor;
}

.ant-table-row-selected {
  > td {
    background-color: @tableactivecolor !important;
  }
}
.ant-row {
  width: 100%;
}
html,
body,
#root {
  height: 100%;
}
ul,
p {
  margin: 0;
  padding: 0;
}
.colorWeak {
  filter: invert(80%);
}
.ant-form-item {
  width: 100% !important;
}
.ant-form-item-label > label {
  font-size: 1em !important;
}

// .small_description .antd-pro-components-description-list-index-detail {
//}
//
//.small_description .antd-pro-components-description-list-index-term {
//}

// 被选中的表格行的样式
.clickRowStyl {
  background-color: #ff3f19;
}

.ant-layout {
  min-height: 100vh;
}

.ant-table-thead {
  background-color: #2eabff !important;

  > tr {
    background-color: @globalbgcolor !important;
  }
}

.ant-table-tbody {
  > tr > td {
    border-width: 0 !important;
    border-color: @globalbgcolor !important;
  }
}

.antd-pro-components-global-header-index-header {
  background-color: #006ee1 !important;
}

.antd-pro-components-global-header-index-right {
  background-color: #006ee1 !important;
}

.antd-pro-components-sider-menu-index-logo {
  > a > h1 {
    color: @globalbgcolor !important;
  }

  background-color: #006ee1 !important;
}

/* For demo */
.ant-carousel .slick-slide {
  height: 60px;
  overflow: hidden;
  line-height: 60px;
  text-align: center;
  background: @globalbgcolor;
}

//slick-slide slick-active slick-current

.slick-slide {
  background: @globalbgcolor;
}

.slick-dots-bottom > li > button {
  background-color: #364d79 !important;
}

.ant-carousel .slick-current > li {
  background: #364d79;
}

.slick-current {
  display: flex !important;
  justify-content: center !important;
}
.ant-table-thead > tr > th {
  padding: 16px 16px;
  background: @globalbgcolor !important;
}
.ant-tabs .ant-tabs-bar {
  margin: 0 !important;
}
//.ant-carousel .slick-active
//{
//  background-color: #364d79;
//}
.ant-carousel .slick-slide h3 {
  color: #111111;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}
