@import '~antd/lib/style/themes/default.less';

.content {
  margin: 24px;
  padding-top: @layout-header-height;
}

.header_view {
  background-color: #ff5000;
}

:global {
  .ant-modal-body .ant-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .addModal {
    width: 318px;
    float: left;
    display: flex;
  }
  .addModal .ant-form-item {
    display: flex;
  }
  .addModal input {
    width: 180px;
  }
}
